
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-frame {
    border: 8px solid blueviolet;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.display {
    border: 1px solid coral;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display1 {
    font-size: large;
}

#buttons {
    border: 1px solid black;
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

#btn-numbers {
    /* border: 1px solid mediumseagreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
    
}

#btn-operators {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


button {
    height: 30px;
    width: 40px;
}




