
body {
    color: white;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#main-frame {
    border: 2px solid rgb(92, 92, 92);
    border-radius: 3%;
    background-color: rgb(0, 0, 0);
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.display {
    /* border: 1px solid coral; */
    background-color: rgb(92, 92, 92);
    color: white;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display1 {
    font-size: medium;
}

#display2 {
    font-size: xx-large;
}

#buttons {
    /* border: 1px solid black; */
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

#btn-grp1 {
    /* border: 1px solid mediumseagreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;  
}

#btn-dotZero {
    /* border: 1px solid rgb(255, 255, 255); */
    width: 216px;
    display: flex;
    column-gap: 10px;
    margin-top: 8px;
}

#zero-btn {
    flex: 1;
}

#btn-grp2 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-operators {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 16px;
    margin-top: 8px;
}

.btn-equals {
    margin-bottom: 6px;
}


button {
    background-color: rgb(65, 64, 64);
    color:white;
    height: 30px;
    width: 65px;
    border-radius: 16px;
    font-weight: bold;
    border: none;
}

.btn-operators button {
    background-color: deepskyblue;
    color: black;
}

.btn-equals button {
    background-color: white;
    color: black;
}

#btn-ac {
    background-color: azure;
    color: black;
}

#btn-del {
    background-color: rgb(180, 7, 7);
    color: black;
}

.btn-operator {
    background-color: deepskyblue;
    color: black;
}

#main-display {
    /* border: 2px solid rgb(92, 92, 92); */
    margin-top: 8px;
}


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 98%;
  padding: 10px;
  font-size: 8px;
}

a {
    text-decoration: none;
    color: white;
}

#btn-func {
    width: 216px;
    /* margin-bottom: -19px; */
    /* border: 1px solid white; */
    display: flex;
    column-gap: 10px;
}

#btn-ac {
    flex-grow: 1;
}